extends layout

block content
  #testDiv(ng-app='myApp')
       h1= title
       p Welcome to #{title}
       p I'm not sure if this can display #{shit}
       #displayer(ng-controller='myngController')
            p this is the first binding using angularJS {{wtf}}
            a(href='/haha') hahahah
       #innerHTML(ng-view)
       #bbbbbb
           p shfidhfidh