doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/angular-1.2.16/angular.js')
    script(type='text/javascript', src='/javascripts/angular-1.2.16/angular-route.js')
    script(type='text/javascript', src='/javascripts/angular-1.2.16/angular-cookies.js')
    script(type='text/javascript', src='/javascripts/controllers.js')
    script(type='text/javascript', src='/javascripts/webApp.js')
    script(type='text/javascript', src='/javascripts/jquery/jquery-2.1.0.js')
    script(type='text/javascript', src='/javascripts/controllers/myApp.controllers.welcome.js')
  body
    block content