//
   Created by cuichua on 4/25/2014.

#testDiv
    h1= title
    p Welcome to #{title}
    p I'm not sure if this can display #{shit}, this is a inner page.
    p this is the first binding using angularJS {{wtf}}