//
   Created by cuichua on 4/28/2014.


script(type='text/javascript').
        $(document).ready(function(){
            document.title = 'Who is the Spy - Welcome';
        });

#bbb(ng-controller='myApp.controllers.welcome.controller')
    p sdjfdskf {{test}}